
/* body html*/
html body {
    background-color: black;
    height: 100%;
    color: #ffffff;
}
body{
    padding-top: 5px;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.container {
    max-width: 100%;
}
.heading2{
    color:black;
}
/*barra nueva*/
ul, ol{
    list-style: none
}
header{
    width:100%;
}
nav{
    width: 100%;
    margin: 1px auto;
    overflow: hidden;
    border-radius: 4px;

    border-bottom: 1px solid #555555;

    /*color */
    background: #8b8b8b; /* Old browsers */
    background: -moz-linear-gradient(top,  #8b8b8b 0%, #6a6a6a 50%, #5e5e5e 51%, #717171 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #8b8b8b 0%,#6a6a6a 50%,#5e5e5e 51%,#717171 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8b8b8b', endColorstr='#717171',GradientType=0 ); /* IE6-9 */

}
.menu{
    width: 85%;
    display: table;
    table-layout: fixed;
    float: left;
    transition: all .5s ease;

}
.menu li{
    display: table-cell;
    overflow: hidden;
    width: 100%;
    border-right: 1px solid #5c5c5c;
    border-left: 1px solid rgba(255,255,255,.2);

}
.menu li:first-child{
    border-left:none;
}
.menu li:first-child:hover{
    border-left: none;
}
.menu li a{
    color:#fff;
    display: block;
    font-family: "Myriad Pro", Arial;
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0px rgba(0,0,0,.3)
}
.menu li:hover{
    background: rgba(0,0,0,.3);
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: none;
}
.menu li:active{
    background: rgba(0,0,0,.3);
    box-shadow: inset 0px 3px 2px rgba(0,0,0,.1);
}
.search-bar{
    width: 15%;
    float: left;
    padding: 7px 10px;
    box-sizing: border-box;
    position: relative;
    transition: all .5s ease;
}
.search-bar input{
    width: 100%;
    height: auto;
    border-radius: 50px;
    border: none;
    border-bottom: 1px solid #858585;
    padding: 0px 10px 0px 25px;
    box-sizing: border-box;
    height: 22px;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,.7);



    background: #7e7e7e; /* Old browsers */
    background: -moz-linear-gradient(top,  #7e7e7e 0%, #797979 50%, #6e6e6e 51%, #717171 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #7e7e7e 0%,#797979 50%,#6e6e6e 51%,#717171 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #7e7e7e 0%,#797979 50%,#6e6e6e 51%,#717171 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7e7e7e', endColorstr='#717171',GradientType=0 ); /* IE6-9 */


}
.search-bar input:focus{
    background: #fff;
    box-shadow: none;
}
/*cierra barra nueva*/

/*headder*/
.header .img{

    height: 100px;
    width: auto;
    margin-top: 5px;
    margin-bottom: 1px;
    background-image: url("http://goo.gl/bivfEQ");
    background-repeat: no-repeat;
    background-attachment:inherit;
    background-position: center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}    

}
#welcome{
    height: 20px;
    width: 80px;
    margin-top: -18px;
    margin-left: 10px;

}

.navbar-brand img{
    margin-top: 5px;
    padding: 0px;
}

/* side bar*/
/*Remove rounded coners*/

nav.sidebar.navbar {
    border-radius: 9px;
}

nav.sidebar, .main{
    -webkit-transition: margin 200ms ease-out;
    -moz-transition: margin 200ms ease-out;
    -o-transition: margin 200ms ease-out;
    transition: margin 200ms ease-out;
}

/* Add gap to nav and right windows.*/
.main{
    padding: 10px 10px 0 10px;
}

/* .....NavBar: Icon only with coloring/layout.....*/

/*small/medium side display*/
@media (min-width: 768px) {

    /*Allow main to be next to Nav*/
    .main{
        position: absolute;
        width: calc(100% - 40px); /*keeps 100% minus nav size*/
        margin-left: 40px;
        float: right;
    }

    /*lets nav bar to be showed on mouseover*/
    nav.sidebar:hover + .main{
        margin-left: 200px;
    }

    /*Center Brand*/
    nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0px;

    }
    /*Center Brand*/
    nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }

    /*Center Icons*/
    nav.sidebar a{
        padding-right: 13px;
    }

    /*adds border top to first nav box */
    nav.sidebar .navbar-nav > li:first-child{
        border-top: 1px #e5e5e5 solid;
    }

    /*adds border to bottom nav boxes*/
    nav.sidebar .navbar-nav > li{
        border-bottom: 1px #e5e5e5 solid;
    }

    /* Colors/style dropdown box*/
    nav.sidebar .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    /*allows nav box to use 100% width*/
    nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
        padding: 0 0px 0 0px;
    }

    /*colors dropdown box text */
    .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
        color: #777;
    }

    /*gives sidebar width/height*/
    nav.sidebar{
        width: 200px;
        height: 100%;
        margin-left: -160px;
        float: left;
        z-index: 8000;
        margin-bottom: 0px;
    }

    /*give sidebar 100% width;*/
    nav.sidebar li {
        width: 100%;
    }

    /* Move nav to full on mouse over*/
    nav.sidebar:hover{
        margin-left: 0px;
    }
    /*for hiden things when navbar hidden*/
    .forAnimate{
        opacity: 0;
    }
}

/* .....NavBar: Fully showing nav bar..... */

@media (min-width: 1330px) {

    /*Allow main to be next to Nav*/
    .main{
        width: calc(100% - 200px); /*keeps 100% minus nav size*/
        margin-left: 200px;
    }

    /*Show all nav*/
    nav.sidebar{
        margin-left: 0px;
        float: left;
    }
    /*Show hidden items on nav*/
    nav.sidebar .forAnimate{
        opacity: 1;
    }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #CCC;
    background-color: transparent;
}

nav:hover .forAnimate{
    opacity: 1;
}
section{
    padding-left: 15px;
}
.navbar-brand {

}
/*-----boxes-----*/
.box {

    border:2px, solid, black;
    border-radius: 5px;
    height: 200px;
    margin: 5px;
    width: 100px;
    background-image:url("http://goo.gl/JBDV0J");
    background-repeat: no-repeat;
    background-position: center;
    background-size: ;
    padding: 0;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
    color:dimgray

}
.boxthumb{
    width: 330px;
    height: 230px;
}
.header .btn.btn-default {
    background-color: rgba(0,0,0,0.6);
    color: #ffffff;
    border-radius: 9px;

}


.header .form-control {
    background-color: rgba(255,255,255,0.8);
    border-radius: 9px;
    text-align: center;

}
/*---SLIDES---*/
#slider {
    width: 940px;
    height: 528px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 940px;
    height: 528px;
}

}
/*---CIERRA---*/







html body footer {
    background-color: darkgray;
}





.bg {
    background-color:rgba(132,132,132,.1);
    text-shadow:1px 1px 1px #ffffff;
    padding-top: 5px;
}

.bgr1 {
    background-color:rgba(132,132,132,.9);
    padding: 10px;
    text-shadow:5px 5px 5px #000000;
}

.bgr2 {
    padding: 10px;
    background-color:rgba(0,0,0,.8);
    text-shadow:5px 5px 5px #000000;
}

.centrado {
    padding-top: 70px;
}

.background {
    background-color: #ffffff;
}

.icon-search {
    position:absolute;
    bottom: 10px;
    left: 15px;
    color: #ffffff;
    text-decoration: none;

}
main a{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
}
main a:hover{
    text-decoration: none;
    color: #EBEBE4;
}